$textshadow1:
	0 0 10px #fff,
	0 0 20px #fff,
	0 0 30px #fff,
	0 0 40px #FF1177,
	0 0 70px #FF1177,
	0 0 80px #FF1177,
	0 0 100px #FF1177,
	0 0 150px #FF1177;

$textshadow2:
	0 0 5px #fff,
	0 0 10px #fff,
	0 0 15px #fff,
	0 0 20px #00EAFF,
	0 0 35px #00EAFF,
	0 0 40px #00EAFF,
	0 0 50px #00EAFF,
	0 0 75px #00EAFF;

@keyframes neon {
	0% {
		opacity: 0.6;
		filter: blur(12px);
		-webkit-filter: blur(12px);
		text-shadow: $textshadow1;
	}
	2% {
		opacity: 0.8;
	}
	5% {
		opacity: 1;
		filter: blur(0);
		-webkit-filter: blur(0);
	}
	97% {
		opacity: 1;
	}
	98% {
		opacity: 0;
		filter: blur(0);
		-webkit-filter: blur(0);
	}
	99% {
		opacity: 0.8;
		filter: blur(12px);
		-webkit-filter: blur(12px);
	}
	100% {
		opacity: 1;
		text-shadow: $textshadow2;
	}
}

.descriptionTextContainer {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.App-root {
	margin: 0;
	display: flex;
	color: white;
	min-height: 100vh;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	font-size: calc(60px + 2vmin);
}